@charset "UTF-8";
@font-face {
  font-family: "Circe";
  src: url("./fonts/Circe/Circe-Bold.otf");
}
@font-face {
  font-family: "DINPro Regular";
  src: url("./fonts/DINPro/DINPro.ttf");
}
@font-face {
  font-family: "DINPro Bold";
  src: url("./fonts/DINPro/DINPro-Bold.ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.flex, body header,
body .left-menu,
body .right-menu,
body .footer,
body .members-block,
body .members-item,
body .preview {
  display: flex;
  justify-content: space-between;
}

body {
  color: #000000;
  max-width: 1920px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  font-family: "DINPro Regular", sans-serif;
}
body a {
  display: inline-block;
  text-decoration: none;
}
body svg {
  cursor: pointer;
}
body svg:hover path {
  stroke: #fd5520;
  fill: #fd5520;
}
body .tag-link, body footer .footer-menu-item_header a, body footer .footer-menu-item a {
  font-size: 12px;
  line-height: 2;
  color: #666666;
  border-bottom: 1px solid #f2f2f2;
  margin-right: 20px;
}
body .tag-link:hover, body footer .footer-menu-item_header a:hover, body footer .footer-menu-item a:hover {
  color: #fd5520;
  border-color: #fd5520;
}
body .link {
  font-size: 14px;
  line-height: 1.3571428571;
  color: #fd5520;
  border: 1px solid #fd5520;
  border-radius: 20px;
  padding: 10px 20px;
}
body .link:hover {
  color: #ffffff;
  background: #fd5520;
}
body h1 {
  line-height: 1.1346153846;
  color: #000000;
  margin: 45px 0 52px;
  font-size: 52px;
}
body h2 {
  line-height: 1.775;
  color: #000000;
  font-size: 40px;
}
body header {
  min-height: 120px;
  border-bottom: 1px solid #f2f2f2;
  align-items: center;
  padding: 0 35px;
}
body header .main-menu {
  margin: 0 53px;
}
body header .main-menu-item {
  color: #000000;
  padding: 5px 0;
  margin: 0 10px;
  line-height: 1.25;
  border-bottom: 1px solid #999999;
  font-family: "Circe", sans-serif;
  font-size: 16px;
}
body header .logo-link {
  padding: 2px 0;
}
body header .right-menu {
  align-items: center;
}
body header .right-menu-item {
  margin: 0 10px;
  position: relative;
}
body header .right-menu .user-pic img {
  border-radius: 50%;
}
body header .right-menu .alerts::after {
  position: absolute;
  top: 0;
  right: 0;
  background: #fd5520;
  content: "+20";
  color: #ffffff;
  border-radius: 4px;
  padding: 5px 6px;
  font-size: 12px;
  transform: translate(40%, -100%);
}
body main .main-wrapper {
  max-width: 1578px;
  margin: 0 auto;
  padding: 58px 0;
}
body main .main-wrapper section {
  padding: 0 1%;
}
body main .breadcrumbs a {
  color: #999999;
  border-bottom: 1px solid #ececec;
  margin-right: 12px;
  position: relative;
  font-size: 14px;
}
body main .breadcrumbs a::after {
  content: "/";
  color: inherit;
  position: absolute;
  right: -10%;
}
body main .breadcrumbs a:last-child::after {
  content: "";
}
body main .breadcrumbs a:hover {
  color: #fd5520;
  border-color: #fd5520;
}
@media screen and (max-width: 600px) {
  body main .preview {
    flex-direction: column;
  }
}
body main .preview > div {
  width: 50%;
}
body main .preview .article-wrapper p {
  font-size: 24px;
  line-height: 1.5;
}
body main .preview .article-wrapper .tags-block-item {
  font-size: 12px;
  line-height: 2;
  background: #ececec;
  color: #666666;
  border-radius: 3px;
  padding: 0 10px;
  margin-right: 5px;
}
body main .preview .article-wrapper .tags-block-item:hover {
  color: #fd5520;
}
body main .preview h3 {
  font-size: 12px;
  font-family: "DINPro Bold", sans-serif;
  line-height: 2;
  color: #000000;
}
body main .preview .edit-mode {
  font-size: 14px;
  color: #fd5520;
  border-bottom: 1px dotted #fd5520;
  position: relative;
  margin-left: 25px;
}
body main .preview .edit-mode::before {
  position: absolute;
  content: url("../img/edit-icon.png");
  transform: translate(-120%, 0);
}
body main .preview .edit-mode:hover {
  border-color: #666666;
  color: #666666;
}
body main .members-wrapper .sort-item,
body main .members-wrapper .sort-rate {
  color: #fd5520;
  border-bottom: 1px solid #fd5520;
  margin-right: 34px;
  font-size: 14px;
}
body main .members-wrapper .sort-item:hover,
body main .members-wrapper .sort-rate:hover {
  border-color: #666666;
  color: #666666;
}
body main .members-wrapper .members-block {
  flex-wrap: wrap;
  margin: 4px 0 40px;
}
body main .members-wrapper .members-block .members-item {
  width: 25%;
  justify-content: flex-start;
  margin: 31px 0;
}
@media screen and (max-width: 600px) {
  body main .members-wrapper .members-block .members-item {
    width: 100%;
  }
}
body main .members-wrapper .members-block .members-item p {
  margin: 10px 0;
  color: #666666;
  font-size: 12px;
}
body main .members-wrapper .members-block .members-item .member-description {
  padding: 3px 16px;
}
body main .members-wrapper .members-block .sort-rate {
  margin-right: 10px;
}
body main .members-wrapper .members-block h4 {
  font-family: "DINPro Bold", sans-serif;
  font-size: 14px;
  line-height: 1.3571428571;
  color: #000000;
  border-bottom: 1px solid #ececec;
  display: inline;
  padding: 3px 0;
}
body main .members-wrapper .members-block .no-pic {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid #ececec;
  position: relative;
}
body main .members-wrapper .members-block .no-pic::after {
  content: "И.А.";
  text-align: center;
  color: #999999;
  font-size: 12px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
body main .members-wrapper .become-member,
body main .members-wrapper .show-more {
  font-size: 18px;
  line-height: 1.3333333333;
  border-radius: 24px;
}
body main .members-wrapper .become-member {
  color: #ffffff;
  background: #fd5520;
}
body main .members-wrapper .become-member:hover {
  opacity: 0.6;
}
body .popular-wrapper .popular-item {
  position: relative;
  max-width: 780px;
  min-width: 780px;
  width: 100%;
  min-height: 212px;
  background: #ffffff;
  padding: 30px;
  margin: 20px 0;
  border-radius: 3px;
  -moz-box-shadow: 0px 2px 8px 0px rgba(7, 70, 123, 0.3);
  -webkit-box-shadow: 0px 2px 8px 0px rgba(7, 70, 123, 0.3);
  box-shadow: 0px 2px 8px 0px rgba(7, 70, 123, 0.3);
}
body .popular-wrapper .popular-item::before {
  content: "";
  background: url("../img/star.png");
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 600px) {
  body .popular-wrapper .popular-item {
    min-width: 100%;
  }
}
body .popular-wrapper .popular-title {
  font-size: 16px;
  font-family: "DINPro Bold", sans-serif;
  line-height: 1.4375;
  color: #000000;
  border-bottom: 1px solid #ececec;
  display: inline;
}
body .popular-wrapper .info-block p {
  display: inline-block;
  font-size: 14px;
  margin-right: 20px;
  line-height: 1.9285714286;
}
body .bid-wrapper .sort-item {
  font-size: 14px;
  line-height: 2.3571428571;
  color: #fd5520;
  border-bottom: 1px dotted #fd5520;
  margin-right: 20px;
  text-align: center;
}
body .bid-wrapper .sort-item.is-active, body .bid-wrapper .sort-item:hover {
  background: #ffe6de;
  border-radius: 3px;
  border-bottom: none;
  min-width: 162px;
}
body .bid-wrapper table {
  min-height: 292px;
  min-width: 1350px;
  max-width: 1350px;
  width: 100%;
  text-align: left;
  font-size: 12px;
  border-collapse: collapse;
  margin: 40px 0;
}
body .bid-wrapper table thead {
  color: #666666;
  border-bottom: 1px solid #ececec;
  line-height: 1.5833333333;
}
body .bid-wrapper table tbody {
  color: #000000;
  line-height: 1.25;
}
body .bid-wrapper table tbody tr.is-active {
  background: #ffeee8;
}
body .bid-wrapper table th {
  width: 14.2857142857%;
}
body .bid-wrapper .btn-link {
  color: #fd5520;
  font-size: 18px;
  line-height: 1.3333333333;
  margin-right: 22px;
}
body .bid-wrapper .btn-link.is-active {
  color: #000000;
}
body footer {
  border-top: 1px solid #f2f2f2;
  padding-top: 68px;
}
body footer .footer-menu {
  list-style: none;
}
@media screen and (max-width: 600px) {
  body footer .footer-menu {
    display: none;
  }
}
body footer .footer-menu-item_header a {
  font-size: 18px;
  line-height: 1.3333333333;
}
body footer p.copyright {
  font-size: 12px;
  line-height: 1.25;
}

/*# sourceMappingURL=style.css.map */
