@font-face {
    font-family: "Circe";
    src: url("./fonts/Circe/Circe-Bold.otf");
}

@font-face {
    font-family: "DINPro Regular";
    src: url("./fonts/DINPro/DINPro.ttf");
}

@font-face {
    font-family: "DINPro Bold";
    src: url("./fonts/DINPro/DINPro-Bold.ttf");
}

$font: 'DINPro Regular',
sans-serif;
$font-bold: 'DINPro Bold',
sans-serif;
$font-header: 'Circe',
sans-serif;
$font-size: 16px;
$color-black: #000000;
$color-grey: #999999;
$color-grey-link: #666666;
$color-grey-back: #ececec;
$color-grey-line: #f2f2f2;
$color-white: #ffffff;
$color-orange: #fd5520;
$border-radius: 4px;
@mixin box-shadow($b_shadow) {
    -moz-box-shadow: $b_shadow;
    -webkit-box-shadow: $b_shadow;
    box-shadow: $b_shadow;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: space-between;
}

body {
    color: $color-black;
    max-width: 1920px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    font: {
        family: $font;
    }
    header,
    .left-menu,
    .right-menu,
    .footer,
    .members-block,
    .members-item,
    .preview {
        @extend .flex;
    }
    a {
        display: inline-block;
        text-decoration: none;
    }
    svg {
        cursor: pointer;
        &:hover path {
            stroke: $color-orange;
            fill: $color-orange;
        }
    }
    .tag-link {
        font: {
            size: $font-size - 4px;
        }
        line-height: (24px/12px);
        color: $color-grey-link;
        border-bottom: 1px solid $color-grey-line;
        margin-right: 20px;
        &:hover {
            color: $color-orange;
            border-color: $color-orange;
        }
    }
    .link {
        font: {
            size: $font-size - 2px;
        }
        line-height: (19px/14px);
        color: $color-orange;
        border: 1px solid $color-orange;
        border-radius: $border-radius * 5;
        padding: 10px 20px;
        &:hover {
            color: $color-white;
            background: $color-orange;
        }
    }
    h1 {
        line-height: (59px/52px);
        color: $color-black;
        margin: 45px 0 52px;
        font: {
            size: 52px;
        }
    }
    h2 {
        line-height: (71px/40px);
        color: $color-black;
        font: {
            size: 40px;
        }
    }
    header {
        min-height: 120px;
        border-bottom: 1px solid $color-grey-line;
        align-items: center;
        padding: 0 35px;
        .main-menu {
            margin: 0 53px;
            &-item {
                color: $color-black;
                padding: 5px 0;
                margin: 0 10px;
                line-height: (20px/16px);
                border-bottom: 1px solid $color-grey;
                font: {
                    family: $font-header;
                    size: $font-size;
                }
            }
        }
        .logo-link {
            padding: 2px 0;
        }
        .right-menu {
            align-items: center;
            &-item {
                margin: 0 10px;
                position: relative;
            }
            .user-pic img {
                border-radius: 50%;
            }
            .alerts::after {
                position: absolute;
                top: 0;
                right: 0;
                background: $color-orange;
                content: "+20";
                color: $color-white;
                border-radius: $border-radius;
                padding: 5px 6px;
                font-size: $font-size - 4px;
                transform: translate(40%, -100%);
            }
        }
    }
    main {
        .main-wrapper {
            max-width: 1578px;
            margin: 0 auto;
            padding: 58px 0;
        }
        .breadcrumbs {
            a {
                color: $color-grey;
                border-bottom: 1px solid $color-grey-back;
                margin-right: 12px;
                position: relative;
                font: {
                    size: $font-size - 2px;
                }
                &::after {
                    content: "/";
                    color: inherit;
                    position: absolute;
                    right: -10%;
                }
                &:last-child::after {
                    content: "";
                }
                &:hover {
                    color: $color-orange;
                    border-color: $color-orange;
                }
            }
        }
        .preview {
            @media screen and (max-width: 600px) {
                flex-direction: column;
            }
            &>div {
                width: 50%;
            }
            .article-wrapper {
                p {
                    font: {
                        size: $font-size + 8px;
                    }
                    line-height: (36px/24px);
                }
                .tags-block {
                    &-item {
                        font-size: $font-size - 4px;
                        line-height: (24px/12px);
                        background: $color-grey-back;
                        color: $color-grey-link;
                        border-radius: $border-radius - 1px;
                        padding: 0 10px;
                        margin-right: 5px;
                        &:hover {
                            color: $color-orange;
                        }
                    }
                }
            }
            h3 {
                font: {
                    size: $font-size - 4px;
                    family: $font-bold;
                }
                line-height: (24px/12px);
                color: $color-black;
            }
            .edit-mode {
                font-size: $font-size - 2px;
                color: $color-orange;
                border-bottom: 1px dotted $color-orange;
                position: relative;
                margin-left: 25px;
                &::before {
                    position: absolute;
                    content: url("../img/edit-icon.png");
                    transform: translate(-120%, 0);
                }
                &:hover {
                    border-color: $color-grey-link;
                    color: $color-grey-link;
                }
            }
        }
        .members-wrapper {
            .sort-item,
            .sort-rate {
                color: $color-orange;
                border-bottom: 1px solid $color-orange;
                margin-right: 34px;
                font: {
                    size: $font-size - 2px;
                }
                &:hover {
                    border-color: $color-grey-link;
                    color: $color-grey-link;
                }
            }
            .members-block {
                flex-wrap: wrap;
                margin: 4px 0 40px;
                .members-item {
                    width: 25%;
                    justify-content: flex-start;
                    margin: 31px 0;
                    @media screen and (max-width: 600px) {
                        width: 100%;
                    }
                    p {
                        margin: 10px 0;
                        color: $color-grey-link;
                        font: {
                            size: $font-size - 4px;
                        }
                    }
                    .member-description {
                        padding: 3px 16px;
                    }
                }
                .sort-rate {
                    margin-right: 10px;
                }
                h4 {
                    font: {
                        family: $font-bold;
                        size: $font-size - 2px;
                    }
                    line-height: (19px/14px);
                    color: $color-black;
                    border-bottom: 1px solid $color-grey-back;
                    display: inline;
                    padding: 3px 0;
                }
                .no-pic {
                    width: 75px;
                    height: 75px;
                    border-radius: 50%;
                    border: 1px solid $color-grey-back;
                    position: relative;
                    &::after {
                        content: "И.А.";
                        text-align: center;
                        color: $color-grey;
                        font-size: $font-size - 4px;
                        left: 50%;
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            .become-member,
            .show-more {
                font-size: $font-size + 2px;
                line-height: (24px/18px);
                border-radius: $border-radius * 6;
            }
            .become-member {
                color: $color-white;
                background: $color-orange;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
    .popular-wrapper {
        .popular-item {
            position: relative;
            max-width: 780px;
            min-width: 780px;
            width: 100%;
            min-height: 212px;
            background: $color-white;
            padding: 30px;
            margin: 20px 0;
            border-radius: $border-radius - 1px;
            @include box-shadow(0px 2px 8px 0px rgba(7, 70, 123, 0.3));
            &::before {
                content: "";
                background: url("../img/star.png");
                width: 60px;
                height: 60px;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .popular-title {
            font: {
                size: $font-size;
                family: $font-bold;
            }
            line-height: (23px/16px);
            color: $color-black;
            border-bottom: 1px solid $color-grey-back;
            display: inline;
        }
        .info-block p {
            display: inline-block;
            font-size: $font-size - 2px;
            margin-right: 20px;
            line-height: (27px/14px);
        }
    }
    .footer-menu {
        list-style: none;
        @media screen and (max-width: 600px) {
            display: none;
        }
        &-item a {
            @extend .tag-link;
        }
        &-item_header a {
            @extend .tag-link;
            font-size: $font-size + 2px;
            line-height: (24px/18px);
        }
    }
}